.img-custom {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

h1,
h2,
h3 {
    color: #333;
}

p.lead {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.header-footer {
    background-color: #e9ecef;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}